{% extends "inicio/encabezado.html" %}

{% block titulo%} principal {%endblock%}

{%block imagen%}
    {%load static%}
    {%static 'inicio/images/home.png'%}
{% endblock%}
{%block descripcion%}
	Principal <span>DSM</span>
{% endblock%}

{% block contenido%}

<!-- Tabla de Alumnos -->
 <table class="table table-bordered table- striped">
	<thead>
		<tr>
			<th>Foto</th>
			<th>Matricula</th>
			<th>Nombre</th>
			<th>Carrera</th>
			<th>Turno</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td class="text-center">
				<img src="" alt="" class="img-media">
			</td>
			<td class="muted">Nathalia</td>
			<td class="muted">Tic</td>
			<td class="muted">Matutino</td>
		</tr>
	</tbody>
</table>
		 
{%endblock%}